.page {
  margin: 20px;
}

.btn {
  background-color: rgba(1, 28, 55, 0);
  color: #15DEA5;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  transform: scale(0.2);
  transition: all 600ms;
}
.btn:hover {
  transform: scale(1);
  background-color: #011c37;
}

.univers {
  width: 600px;
  height: 400px;
  background-image: url(https://media1.ledevoir.com/images_galerie/nwd_484533_341674/image.jpg);
}

.ball {
  width: 200px;
  height: 200px;
  background: #ffc933;
  border-radius: 100px;
  transform: scale(0.1);
  transition: transform 2s, background-color 4s;
}
.ball p {
  padding-top: 70px;
  font-size: 2em;
  text-align: center;
  color: #ffc933;
  transition: color 3s;
}
.ball p:hover {
  color: black;
}
.ball:hover {
  transform: scale(1);
  background-color: red;
}

.bouton_allumage {
  background-color: black;
  text-align: center;
  border: 3px solid white;
  width: 300px;
  height: 100px;
  padding-top: 50px;
}
.bouton_allumage:active {
  background-color: red;
}
.bouton_allumage button {
  height: 30px;
}

.formulaire:focus {
  background-color: yellow;
}

.form__group input, .form__group label {
  border: 2px solid white;
  border-radius: 100rem;
  color: #6300a0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  outline: none;
  padding: 0.5rem 1.5rem;
  width: 80%;
  transition: background-color 500ms;
}
.form__group input:focus, .form__group label:focus {
  border: 2px solid #6300a0;
}
.form__group input:not(:focus):invalid, .form__group label:not(:focus):invalid {
  background: #c70606;
  border: 2px solid #c70606;
  color: #fff;
}

.boite {
  background: linear-gradient(45deg, #ffeb91, #da8300, #e66400);
  width: 500px;
  height: 500px;
  box-shadow: 8px 8px 8px black;
  z-index: 0;
}
.boite--bg {
  height: 300px;
  width: 300px;
  margin: 100px 0 0 100px;
  background-color: #6d2d02;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  position: absolute;
  z-index: 1;
}

.btn-deplace {
  border-radius: 10px;
}
.btn-deplace:active + .silhouette-image {
  transform: scale(3) translateX(200%) rotate(2turn);
}

.silhouette-image {
  display: inline-block;
  transform: scale(0.2) translateX(0) rotate(0);
  transition: transform 800ms ease-in-out;
}
.silhouette-image img {
  height: 180px;
}

.btn-couche {
  border-radius: 10px;
}
.btn-couche:active + .seconde-silhouette-image {
  transform: perspective(150px) rotateX(75deg);
}

.seconde-silhouette-image {
  display: inline-block;
  transition: transform 800ms ease-in-out;
}
.seconde-silhouette-image img {
  height: 180px;
}

.btn-bouge {
  border-radius: 10px;
}
.btn-bouge:active + .troisieme-silhouette-image {
  transform: perspective(150px) translate3d(150%, -10%, 50px);
}

.troisieme-silhouette-image {
  display: inline-block;
  transition: transform 800ms ease-in-out;
}
.troisieme-silhouette-image img {
  height: 180px;
}

.btn-chrgmt {
  margin-left: 45%;
  background-color: #15DEA5;
  transition: background-color 250ms;
  cursor: pointer;
  border-radius: 50px;
  width: 20%;
  height: 60px;
  padding-top: 15px;
  font-size: 2em;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}
.btn-chrgmt:hover .btn-chrgmt__bg {
  opacity: 1;
}
.btn-chrgmt__bg {
  position: absolute;
  border-radius: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #010f1e;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn-chrgmt:active + .progress > .progress__bar {
  transform: scaleX(1);
}

.progress {
  border: solid #011c37;
  height: 40px;
  margin: 40px 80px;
}
.progress__bar {
  background-color: #15DEA5;
  height: 30px;
  margin: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1s cubic-bezier(0.05, 0.86, 0.43, 0.96);
}

.nuit {
  position: absolute;
  z-index: -3;
  border: solid;
  width: 80%;
  height: 400px;
  margin-top: -300px;
  background-image: url(https://cdnfr1.img.sputniknews.com/img/104304/07/1043040732_0:0:1921:1039_1000x541_80_0_0_cb892e73419ee14e839cf3ed2f6f972d.jpg);
}

.lightsaber .hilt {
  cursor: pointer;
  width: 15px;
  height: 50px;
  border-bottom: solid 4px grey;
  border-top: solid 5px grey;
  border-radius: 5px;
  z-index: 1;
  background: #e2e2e2;
  background: linear-gradient(to right, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
}
.lightsaber .hilt > .switch {
  background: #b94a37;
  width: 3px;
  height: 10px;
  position: absolute;
  bottom: 25px;
  left: 13px;
  border-radius: 10px;
}
.lightsaber .hilt:active + .plasma {
  transform: scale(1, 1);
}
.lightsaber .hilt:active > .switch {
  transform: scale(0.7, 1);
}

.lightsaber .plasma {
  transition: transform 300ms;
  border-radius: 12px 12px 0 0;
  position: absolute;
  bottom: 45px;
  left: 2px;
  width: 10px;
  display: block;
  transform: scale(1, 0);
  height: 250px;
  transform-origin: bottom center;
  z-index: -1;
  filter: blur(1px);
}

.vader {
  z-index: 2;
  background: linear-gradient(to right, #07d623 0%, #fefefe 30%, #fefefe 47%, #fefefe 71%, #07d623 100%);
  box-shadow: 0 -10px 10px 10px #11e546;
}

.lightsaber-example {
  display: flex;
  justify-content: center;
  padding-top: 325px;
}

.lightsaber {
  position: relative;
}

.Mario_head {
  margin-left: 600px;
  filter: blur(60px) grayscale(100%);
  transform: scale(0.2);
  transition: transform 500ms ease-out, filter 3s;
}
.Mario_head:hover {
  transform: scale(1.4);
  filter: blur(0px) grayscale(0%);
}

.container {
  display: flex;
  flex-direction: column-reverse;
}

/*# sourceMappingURL=style.css.map */
