.btn {
    background-color: $cd-btn-start;
    color: $cd-txt;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(0.2);
    transition: all 600ms;
    &:hover {
        transform: scale(1);
        background-color: $cd-btn-end;
    }
}

.univers {
    width: 600px;
    height: 400px;
    background-image: url(https://media1.ledevoir.com/images_galerie/nwd_484533_341674/image.jpg);
}

.ball {
    width: $ball-size;
    height: $ball-size;
    background: $cd-boule;
    border-radius: $ball-size * 0.5;
    transform: scale(0.1);
    transition: transform 2s, background-color 4s;
    & p {
        padding-top: 70px;
        font-size: 2em;
        text-align: center;
        color: $cd-boule;
        transition: color 3s;
        &:hover {
            color: black;
        }
    }
    &:hover {
        transform: scale(1);
        background-color: red;
    }
} 

.bouton_allumage {
    background-color: black;
    text-align: center;
    border: 3px solid white;
    width: 300px;
    height: 100px;
    padding-top: 50px;
    &:active {
        background-color: red;
    }
    & button {
       height: 30px;
    }
}

.formulaire:focus {
    background-color: yellow;
}

.form {
    &__group {
        & input, & label {
        border: 2px solid white;
        border-radius: 100rem;
        color: $cd-titre;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        outline: none;
        padding: .5rem 1.5rem;
        width: 80%;
        transition: background-color 500ms;
        &:focus {
            border: 2px solid $cd-titre;
            }
        &:not(:focus):invalid {
            background: $cd-danger;
            border: 2px solid $cd-danger;
            color: $cd-txt--invalid;
            }  
        }
    }
}

.boite{
    background: linear-gradient(45deg, rgb(255, 235, 145), rgb(218, 131, 0), rgb(230,100,0));
    width: 500px;
    height: 500px;
    box-shadow: 8px 8px 8px black;
    z-index: 0;
    &--bg {
        height: 300px;
        width: 300px;
        margin: 100px 0 0 100px;
        background-color: rgb(109, 45, 2);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        position: absolute;
        z-index: 1;
    }
}

.btn-deplace {
    border-radius: 10px;
    &:active + .silhouette-image {
        transform: scale(3) translateX(200%) rotate(2turn);
    }
}

.silhouette-image {
    & img {
        height: 180px;
    }
    display: inline-block;
    transform: scale(0.2) translateX(0) rotate(0);
    transition: transform 800ms ease-in-out;
}

.btn-couche {
    border-radius: 10px;
    &:active + .seconde-silhouette-image {
        transform: perspective(150px) rotateX(75deg);
    }
}

.seconde-silhouette-image {
    & img {
        height: 180px;
    }
    display: inline-block;
    transition: transform 800ms ease-in-out;
}

.btn-bouge {
    border-radius: 10px;
    &:active + .troisieme-silhouette-image {
        transform: perspective(150px) translate3d(150%, -10%, 50px);
    }
}

.troisieme-silhouette-image {
    & img {
        height: 180px;
    }
    display: inline-block;
    transition: transform 800ms ease-in-out;
}

.btn-chrgmt {
    margin-left: 45%;
    background-color: $cd-txt;
    cursor: pointer;
    border-radius: 50px;
    width: 20%;
    height: 60px;
    padding-top: 15px;
    font-size: 2em;
    text-align: center;
    color: white;
    &:active {
        & + .progress {
            & > .progress__bar {
                    transform: scaleX(1);
                }
            }
        }
}

.progress {
    border: solid $cd-btn;
    height: 40px;
    margin: 40px 80px;
    &__bar {
        background-color: $cd-txt;
        height: 30px;
        margin: 5px;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 1s cubic-bezier(.05,.86,.43,.96);
    }
}

// Poignée du sabre laser
.lightsaber .hilt {
	cursor: pointer;
	width: 15px;
	height: 50px;
	border-bottom: solid 4px grey;
	border-top: solid 5px grey;
	border-radius: 5px;
	z-index: 1;
	background: rgb(226, 226, 226);
	background: linear-gradient(
		to right,
		rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%,
		rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%
	);

  // Bouton de la poignée
	& > .switch {
		background: #b94a37;
		width: 3px;
		height: 10px;
		position: absolute;
		bottom: 25px;
		left: 13px;
		border-radius: 10px;
	}

  //Au clic sur la poignée, le laser prend la taille voulue en hauteur
	&:active + .plasma {
		transform: scale(1, 1);
	}

	&:active > .switch {
		transform: scale(0.7, 1);
	}
}

.lightsaber .plasma {
	transition: transform 300ms;
	border-radius: 12px 12px 0 0;
	position: absolute;
	bottom: 45px;
	left: 2px;
	width: 10px;
	display: block;
	transform: scale(1, 0);
	height: 250px;
	transform-origin: bottom center;
  z-index: -1;
	filter: blur(1px);
}

.vader {
    z-index: 2;
	background: linear-gradient(
		to right,
		rgb(7, 214, 35) 0%,
		rgba(254, 254, 254, 1) 30%,
		rgba(254, 254, 254, 1) 47%,
		rgba(254, 254, 254, 1) 71%,
		rgb(7, 214, 35) 100%
	);
	box-shadow: 0 0 10px #11e546;
}

.lightsaber-example {
	display: flex;
  justify-content: center;
	padding-top: 325px;
}

.lightsaber {
	position: relative;
}