.btn {
    background-color: $cd-btn-start;
    color: $cd-txt;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(0.2);
    transition: all 600ms;
    &:hover {
        transform: scale(1);
        background-color: $cd-btn-end;
    }
}

.univers {
    width: 600px;
    height: 400px;
    background-image: url(https://media1.ledevoir.com/images_galerie/nwd_484533_341674/image.jpg);
}

.ball {
    width: $ball-size;
    height: $ball-size;
    background: $cd-boule;
    border-radius: $ball-size * 0.5;
    transform: scale(0.1);
    transition: transform 2s, background-color 4s;
    & p {
        padding-top: 70px;
        font-size: 2em;
        text-align: center;
        color: $cd-boule;
        transition: color 3s;
        &:hover {
            color: black;
        }
    }
    &:hover {
        transform: scale(1);
        background-color: red;
    }
} 

.bouton_allumage {
    background-color: black;
    text-align: center;
    border: 3px solid white;
    width: 300px;
    height: 100px;
    padding-top: 50px;
    &:active {
        background-color: red;
    }
    & button {
       height: 30px;
    }
}

.formulaire:focus {
    background-color: yellow;
}

.form {
    &__group {
        & input, & label {
        border: 2px solid white;
        border-radius: 100rem;
        color: $cd-titre;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        outline: none;
        padding: .5rem 1.5rem;
        width: 80%;
        transition: background-color 500ms;
        &:focus {
            border: 2px solid $cd-titre;
            }
        &:not(:focus):invalid {
            background: $cd-danger;
            border: 2px solid $cd-danger;
            color: $cd-txt--invalid;
            }  
        }
    }
}