$cd-btn: #011c37;
$cd-txt: #15DEA5;
$cd-box: rgb(150, 59, 150);
$cd-titre: #6300a0;
$cd-txt--invalid: #fff;
$cd-danger: #c70606;
$cd-boule: rgb(255, 201, 51);
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);

$ball-size: 200px;

.page {
    margin: 20px;
    background-color: black;
}
