.Mario_head {
    margin-left: 600px;
    filter: blur(60px) grayscale(100%);
    transform: scale(0.2);
    transition: transform 500ms ease-out, filter 3s;
    &:hover {
        transform: scale(1.4);
        filter: blur(0px) grayscale(0%);
    }
}




