img {
    margin-left: 600px;
    filter: blur(60px);
    transform: scale(0.2);
    transition: transform 500ms ease-out, filter 250ms;
    &:hover {
        transform: scale(1.4);
        filter: none;
    }
}